<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="pt-3 px-5">
  <div class="container-fluid full-width-div mb-3" style="text-align:center">
    <div 
      class="row justify-content-md-center row-cols-auto g-4 px-5"
    >
      <% profiles.forEach(profile => { %>
        <div class="col">
          <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
            <div class="card shadow-sm mb-3" style="width:10em ;height:20em">
              <% if (profile.avatar) { %>
                <img
                  class="card-img-top"
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="100%"
                  height="100"
                />
              <% } else {%>
                <img
                  class="card-img-top"
                  src="/images/icons/user.png"
                  alt="A placeholder avatar"
                  width="100%"
                  height="100"
                />
              <% } %>
              <div class="card-body">
                <p class="card-title fs-5 text-dark mb-0">
                  <%= profile.name %>
                </p>
                <p class="card-text text-dark fs-6 mt-0">
                  Joined <%= profile.createdAt.toLocaleDateString() %>
                </p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</section>
</main>

<%- include('../partials/footer') %>
