<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <span class="mt-5"></span>
  <div class="d-flex flex-column bd-highlight mt-5 text-center align-items-center">
    <div class="p-2 flex-xl-grow-1">
  <h1>Hello, <%= user ? user.profile.name : "there" %>
  </h1>
  <button class="btn btn-default"></button>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>

  <section >
  <label for="exampleDataList" class="form-label"><h1>Search Movies</h1></label>
  <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
  <datalist id="datalistOptions">
  </datalist>
  </section>
</div>
</div>
</main>

<%- include('./partials/footer') %>
