<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h3 class="py-3 my-0 fs-1 bg-dark"><%= title %></h3>
    <div><%= results.Title %> </div>
    <div><%= results.Year %> </div>
    </div>

<%- include('../partials/footer') %>

